<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>plantkartservlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>plantkartservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePersonServlet</servlet-name>
        <servlet-class>plantkartservlet.DeletePersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>plantkartservlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantAddServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantDeleteServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantOrderServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKartItemServlet</servlet-name>
        <servlet-class>plantkartservlet.DeleteKartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantPaymentSuccessServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantPaymentSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <servlet-class>plantkartservlet.OrderDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantCodeVerificationServlet</servlet-name>
        <servlet-class>plantkartservlet.PlantCodeVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserAddressServlet</servlet-name>
        <servlet-class>plantkartservlet.UpdateUserAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChatServlet</servlet-name>
        <servlet-class>plantkartservlet.UserChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePersonServlet</servlet-name>
        <url-pattern>/DeletePersonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantAddServlet</servlet-name>
        <url-pattern>/PlantAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantDeleteServlet</servlet-name>
        <url-pattern>/PlantDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantOrderServlet</servlet-name>
        <url-pattern>/PlantOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKartItemServlet</servlet-name>
        <url-pattern>/DeleteKartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantPaymentSuccessServlet</servlet-name>
        <url-pattern>/PlantPaymentSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <url-pattern>/OrderDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantCodeVerificationServlet</servlet-name>
        <url-pattern>/PlantCodeVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserAddressServlet</servlet-name>
        <url-pattern>/UpdateUserAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChatServlet</servlet-name>
        <url-pattern>/UserChatServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
